<!-- <p>{{title}}</p> -->


<div class="card" style="height: 100%; overflow: hidden;" [id]="book.id">
    <a class="text-dark text-decoration-none" [routerLink]="['/book', book.id]">
        <img [src]="book.coverImg" alt="{{ book.title }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{
                book.title }}</h5>
            <p class="card-text">{{ book.author }}</p>
        </div>
    </a>
    <div *ngIf="version === 'catalogue'">
        <div *ngIf="!checkSavedBook(book)">
            <div class="card-footer bg-white border-top-0">
                <button class="btn btn-secondary w-100" (click)="saveBook()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>
                </button>
            </div>
        </div>
        <div *ngIf="checkSavedBook(book)">
            <div class="card-footer bg-white border-top-0">
                <button class="btn btn-secondary w-100" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path
                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="version === 'readingList'">
        <div class="card-footer bg-white border-top-0">
            <button class="btn btn-secondary w-100" (click)="removeBook()">
                REMOVE
            </button>
        </div>

        <!-- <div *ngIf="checkSavedBook(book.id)">
            <button class="btn btn-secondary w-100" disabled>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
              </svg>
            </button>
          </div>  -->
    </div>



</div>
