<div class="container mt-5">
    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div *ngIf="!isLoading && book" class="row">
        <div class="col-12">
            <div (click)="goBack()" class="d-flex align-items-center py-2 px-3" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                  </svg>
                </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-5">
                <img [src]="book.coverImg" alt="{{ book.title }}" class="img-fluid rounded shadow-sm" />
            </div>
            <div class="col-md-7">
                <h1 class="display-4">{{ book.title }}</h1>
                <h4 class="text-muted">by {{ book.author }}</h4>
                <p class="mt-4"><strong>ISBN:</strong> {{ book.isbn }} </p>
                <p class="mt-4"><strong><em>Description:</em></strong></p>
                <p>{{ book.blurb }}</p>
                <br />
                <div class="col-12">
                    <div *ngIf="checkSavedBook(book)">
                        <button class="btn btn-dark w-50" (click)="removeBook(book)">
                            REMOVE FROM LIST
                        </button>
                        <span *ngIf="isSaveMessageVisible" class="ms-2 text-success"> Book saved!</span>
                    </div>

                    <div *ngIf="!checkSavedBook(book)">
                        <button class="btn btn-outline-dark w-50" (click)="saveBook(book)">
                            ADD TO LIST
                        </button>
                        <span *ngIf="isRemoveMessageVisible" class="ms-2 text-success">Book removed from your
                            collection!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoading && !book">
    <p>Book detail not avaliable</p>
</div>